@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Synchronize";
}


<head>
    <style>

        .emp-profile {
            border-radius: 25px;
            padding: 3%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
            /*background-color:lightgray*/
        }

        .profile-work {
            padding: 5%;
            /*margin-top: -15%;*/
        }

            .profile-work input {
                padding-bottom: 5%;
                padding-top: 0;
                /*margin-top: -15%;*/
            }

        .profile-work-special {
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 5%;
            /*margin-top: -15%;*/
        }

        .profile-work p {
            font-size: 24px;
            font-weight: 600;
            /*margin-top: 5%;*/
        }

        .for-documents-numbers {
            padding-left: 5%;
            padding-top: 5%;
            font-size: 16px;
        }

        .vl {
            padding: inherit;
            border-left: 1px solid lightgray;
          
        }
    </style>
</head>
<br />
<br />
<br />
<div class="container emp-profile">
    <div style=" color: red; text-align: center;"><h3>@Localizer["WarningThisActionIsIrreversible!"]</h3></div>
    <hr />
    <br />
    <br />
    <div style="text-align: center;">
        <h4>@Localizer["AreYouSureYouWantToContinue?"]</h4>
        <a href=@Url.Action( "SynchronizeData") class="btn btn-primary">@Localizer["Yes"]</a>
        <a href=@Url.Action( "ServerManagement") class="btn btn-primary">@Localizer["No"]</a>
    </div>
    <br />
</div>
