@model IEnumerable<Finalaplication.Models.Beneficiary>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "FileUpload";
}

<form action="./FileUpload"
      enctype="multipart/form-data"
      method="post">
    <dl>

        <dt>
            <label for="files">@Localizer["Choose"]:</label>
        </dt>

        <dd>
            <input type="file" id="myFile" name="Files">

        </dd>
    </dl>

    <input class="btn btn-info" type="submit" value=@Localizer["Upload"] />

    <div style="margin-top:15px">
        <output name="result"></output>
    </div>

   
</form>


<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

