@model Finalaplication.Models.Beneficiary
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ImportUpdate";
    var number = TempData.Peek("numberOfFiles");
    string duplicates = ViewBag.duplicates;
    string docsimported = ViewBag.documentsimported;
}
<head>
    <style>
        progressbar-outer {
            height: 2em;
            border: 5px solid #000;
            width: 15em;
        }

        #progressbar {
            width: 0%;
            background-color: #F00;
            height: 100%;
        }

        .progress-bar {
            border: 1px solid black;
            background-color: #f0f0f0;
        }

            .progress-bar div {
                background-color: blue;
                height: 1.25em;
            }
        #loading {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: block;
            opacity: 0.7;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }

        #loading-image {
            position: absolute;
            top: 100px;
            left: 240px;
            z-index: 100;
        }
    </style>
</head>
<h1>Import Update</h1>


@*<div class="progress-bar"><div style="width: 0"></div></div>*@


@if (Convert.ToInt64(docsimported) > 1)
{
    <h3>You have succesfully imported @docsimported documents.</h3>
}
else if (Convert.ToInt64(docsimported) == 1)
{
    <h3>You have succesfully imported @docsimported document.</h3>
}
else
{
    <h2>No documents were imported.</h2>
}
@{
    string phrase = duplicates;
    if (phrase != "" && phrase != null)
    {
        string[] words = phrase.Split(',');
        if (words.Count() > 0)
        {
            <h2>The following documents have been skipped:</h2>
            foreach (var a in words)
            {
                <h4 style="text-align:center">@a</h4>
                <br />
            }
        }
    }
}
<br />

<div>
    <a href=@Url.Action( "Index","Home") class="btn btn-primary">@Localizer["BackToList"]</a>
</div>


<script>
    

    function delayedLoop(collection, delay, callback, context) {
        context = context || null;

        var i = 0,
            nextInteration = function () {
                if (i === collection.length) {
                    return;
                }

                callback.call(context, collection[i], i);
                i++;
                setTimeout(nextInteration, delay);
            };

        nextInteration();
    }

    var progressBar = document.querySelector(".progress-bar div"),
        items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

    delayedLoop(items, 500, function (item, index) {
        var width = (item / items.length * 100) + "%";
        progressBar.style.width = width;
        progressBar.innerHTML = width;
    });


</script>
<script>
    <script>
        $(window).load(function() {
            $('#loading').hide();
        });
</script>
</script>