@model Finalaplication.Models.Beneficiary
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ImportUpdate";
    string duplicates = ViewBag.duplicates;
    string docsimported = ViewBag.documentsimported;
}

<h1>Import Update</h1>

@if (Convert.ToInt64(docsimported) > 1)
{
    <h3>You have succesfully imported @docsimported documents.</h3>
}
else if (Convert.ToInt64(docsimported) == 1)
{
    <h3>You have succesfully imported @docsimported document.</h3>
}
else
{
    <h2>No documents were imported.</h2>
}
@{
    string phrase = duplicates;
    if (phrase != "" && phrase !=null)
    {
        string[] words = phrase.Split(',');
        if (words.Count() > 0)
        {
            <h2>The following documents have been skipped:</h2>
            foreach (var a in words)
            {
                <h4 style="text-align:center">@a</h4>
                <br />
            }
        }
    }
}
<br />

<div>
    <a href=@Url.Action( "Index" ) class="btn btn-primary">@Localizer["BackToList"]</a>
</div>

