@model Finalaplication.Models.Volunteer

@{
    ViewData["Title"] = "ExportContract";
}

<h1>ExportContract</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ExportContract">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="Contract.NumberOfRegistration" class="control-label"></label>
                <input asp-for="Contract.NumberOfRegistration" class="form-control" />
                <span asp-validation-for="Contract.NumberOfRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ExpirationDate" class="control-label"></label>
                <input asp-for="Contract.ExpirationDate" class="form-control" />
                <span asp-validation-for="Contract.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.RegistrationDate" class="control-label"></label>
                <input asp-for="Contract.RegistrationDate" class="form-control" />
                <span asp-validation-for="Contract.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
