
@{
    ViewData["Title"] = "Volunteer warning";
}

<table class="table">
    <tr>
        <td colspan="3 " style="color:red">
            <h1>Someone else is already modifying this document!</h1> 
        </td>
    </tr>
</table>

