
@{
    ViewData["Title"] = "Concurrency warning";
}

<table class="table">
    <tr>
        <td colspan="3 " style="color:red">
            <h1>Someone else Has already modified this document while you were editing</h1> 
        </td>
    </tr>
</table>

