@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["ConcurrencyWarning"];
}

<table class="table">
    <tr>
        <td colspan="3 " style="color:red">
            <h1>@Localizer["Someone else Has already modified this document while you were editing"]</h1>
        </td>
    </tr>
</table>