@model Finalaplication.Models.Sponsor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sponsor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              Name of sponsor:
                <input asp-for="NameOfSponsor" class="form-control" />
                <span asp-validation-for="NameOfSponsor" class="text-danger"></span>
            </div>
            <div class="form-group">
               Phone number:
                <input asp-for="ContactInformation.PhoneNumber" class="form-control" />
                <span asp-validation-for="ContactInformation.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
               Email address:
                <input asp-for="ContactInformation.MailAdress" class="form-control" />
                <span asp-validation-for="ContactInformation.MailAdress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contract.HasContract" /> @Html.DisplayName("Has Contract")
                </label>
            </div>
            <div class="form-group">
               Number of registration:
                <input asp-for="Contract.NumberOfRegistration" class="form-control" />
                <span asp-validation-for="Contract.NumberOfRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
               Registration date:
                <input asp-for="Contract.RegistrationDate" class="form-control" />
                <span asp-validation-for="Contract.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
               Expiration date:
                <input asp-for="Contract.ExpirationDate" class="form-control" />
                <span asp-validation-for="Contract.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
               Date:
                <input asp-for="Sponsorship.Date" class="form-control" />
                <span asp-validation-for="Sponsorship.Date" class="text-danger"></span>
            </div>
           
            <div class="form-group">
               Money amount:
                <input asp-for="Sponsorship.MoneyAmount" class="form-control" />
                <span asp-validation-for="Sponsorship.MoneyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
               Goods amount:
                <input asp-for="Sponsorship.GoodsAmount" class="form-control" />
                <span asp-validation-for="Sponsorship.GoodsAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
               What goods?
                <input asp-for="Sponsorship.WhatGoods" class="form-control" />
                <span asp-validation-for="Sponsorship.WhatGoods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
