@{
    ViewBag.Title = "About";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<head>
    <style>

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }
    </style>
</head>
<div class="emp-profile">
    <h2>@Localizer["About"]</h2>
    <hr />
    <p><h5>@Localizer["MessageAbout"]</h5></p>
</div>