@{
    ViewBag.Title = "Contact";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Contact"]</h2>

<address>
    Siemens<br />
    Brasov, Romania<br />
    <strong abbr title="Phone">
        @Localizer["Phone"]:
    </strong>
    0755 296 273
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:fleischman.krisztian@gmail.com">fleischman.krisztian@gmail.com</a><br />
</address>
