
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Incorrect File</title>
</head>
<body>
    <h1>
        You have chosen a file that can not be imported!
    </h1>
</body>
</html>
