@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Volunteer-Event App</h1>
  
</div>

<div>
    <h2><a href="../Volunteer/Birthday">Volunteers : Birthday Alert</a>.</h2>
    <h2><a href="../Volunteer/ContractExp">Volunteers : Contract Alert</a>.</h2>
    <h2><a href="../Sponsor/ContractExp">Sponsors : Contract Alert</a>.</h2>
    <h2><a href="../Beneficiary/ContractExp">Beneficiaries : Contract Alert</a>.</h2>
    <h2><a href="../Event/Export">Export events to Excel</a>.</h2>
    <h2><a href="../Volunteer/ExportVolunteers">Export volunteers to Excel</a>.</h2>
    <h2><a href="../Sponsor/ExportSponsors">Export sponsors to Excel</a>.</h2>
    <h2><a href="../Beneficiary/ExportBeneficiaries">Export beneficiaries to Excel</a>.</h2>

    <h2><a href="../Home/Transport">Transport to offline</a>.</h2>


</div>
