@{
    ViewData["Title"] = "Localhost warning";
}

<table class="table">
    <tr>
        <td colspan="3 " style="color:red">
            <h1>The local server must be up and running!</h1>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="color:black">Try typing mongod in command line and rerun the application</h2>
        </td>
    </tr>
</table>

