@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

@using (Html.BeginForm("Settings", "Home/", FormMethod.Post))
{
<div class="form-group">

    <h2>Environment:</h2>
    <input type="radio" name="env" value="online" checked> Online<br>
    <input type="radio" name="env" value="offline"> Offline<br>

    <h2>Language:</h2>
    <input type="radio" name="lang" value="eng" checked> English<br>
    <input type="radio" name="lang" value="rom" />  Romanian<br>

    <h2>Number of documents per page:</h2>
    <input type="number" name="quantity" class="rounded" value="10" min="1" max="30">
    <br />
    <br />
    <input type="submit"  class="btn btn-primary" value="Apply">
</div>
}

