@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "SynchronisationResults";
    string modifications = ViewBag.numberOfModifications;
    string deletions = ViewBag.numberOfDeletions;

}
<head>
    <style>

        .emp-profile {
            border-radius: 25px;
            padding: 5%;
            margin-bottom: 3%;
            border: 2px solid lightgray;
            background: #fff;
        }
    </style>
</head>
<br />
<br />
<br />
<br />
<div class="emp-profile">
    <h1>Synchronisation Results</h1>
    <hr />
    <br />
    @if (Convert.ToInt64(modifications) >= 1)
    {
        <h3>@modifications documents have been Edited/Created in the Common Database.</h3>
    }
    @if (Convert.ToInt64(deletions) >= 1)
    {
        <h3>@deletions documents have been Deleted in the Common Database.</h3>
    }
    @if (Convert.ToInt64(deletions) == 0 && Convert.ToInt64(modifications) == 0)
    {
        <h2>No documents have been added to the Common Database.</h2>
    }
    @*@{
            string phrase = duplicates;
            if (phrase != "" && phrase != null)
            {
                string[] words = phrase.Split(',');
                if (words.Count() > 0)
                {
                    <h2>The following documents have been skipped:</h2>
                    foreach (var a in words)
                    {
                        <h4 style="text-align:center">@duplicates </h4>
                        <br />
                    }
                }
            }
        }*@
    <br />
    <div>
        <a href=@Url.Action( "Index","Home") class="btn btn-primary">@Localizer["Back"]</a>
    </div>
</div>