@model IEnumerable<Finalaplication.Models.Beneficiary>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "FileUpload";
}
<html>
<body>


    <form action="./FileUpload"
          enctype="multipart/form-data"
          method="post">
        <dl>


            <dt>
                <label for="files">@Localizer["Choose"]:</label>
            </dt>

            <dd>
                <input type="file" id="myFile" name="Files">


            </dd>
        </dl>


        <button class="buttonx" type="submit">@Localizer["Upload"]</button>

        <div style="margin-top:15px">
            <output name="result"></output>
        </div>
    </form>
    <script src="~/js/site.js"></script>
</body>
</html>
