/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
.navbar-custom {
    background-color: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.ten {
    width: 10%;
}

.twentyfive {
    width: 25%;
}

.td {
    width: 30%;
}

.buttonx {
    display: inline-block;
    width: 220px;
    height: 60px;
    border: 2px solid blue;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 56px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
    transition: all ease 0.4s;
    transform: rotate(360deg);
}

.active {
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: transparent;
}

.spinn {
    transition: 48s;
    transform: rotate(11520deg);
}
